project:
  type: website
  output-dir: docs

website:
  title: "BIOL1105-LectureNov7th"
  navbar:
    left:
      - href: index.qmd
        text: Quiz Code

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



